<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDh88E2_Sae0GhlEUfXs5mmZDE2B00JG9o</string>
	<key>GCM_SENDER_ID</key>
	<string>441451564085</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.adsApp</string>
	<key>PROJECT_ID</key>
	<string>e-comerce-749ba</string>
	<key>STORAGE_BUCKET</key>
	<string>e-comerce-749ba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441451564085:ios:2e701fea9767b3331df57c</string>
</dict>
</plist>